/* UNIVERSAL */

    /* COLOR PALETTE
     - Main:  #09814a;
     - Secondary: #bbd8b3;
     - Complementary: #AF9BB6;
     - Text: #2E2532;
     - Extra: #9A8C98; */


body {
    font-family: 'Rubik', sans-serif;
}


/* HEADER */

header {
    width: 100%;
    position: fixed;
    background-color: #09814a;
    top: 0;
    color: white;
}

.header-container {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    letter-spacing: 0.2rem;
}

header li {
    display: inline-block;
    margin-left: 1.5rem;
}

a {
    cursor: pointer;
}









main {
    width: 100%;
}

footer {
    width: 100%;
}