/* UNIVERSAL */

    /* COLOR PALETTE
     - Main:  #09814a;
     - Secondary: #bbd8b3;
     - Complementary: #AF9BB6;
     - Text: #2E2532;
     - Extra: #9A8C98; */


body {
    font-family: 'Rubik', sans-serif;
}


/* HEADER */

header {
    display: flex;
}