/* UNIVERSAL */

    /* COLOR PALETTE
     - Main:  #09814a;
     - Secondary: #bbd8b3;
     - Complementary: #AF9BB6;
     - Text: #2E2532;
     - Extra: #9A8C98; */


body {
    font-family: 'Rubik', sans-serif;
    background-color: #e5ece391;
}


/* HEADER */

header {
    width: 100%;
    position: fixed;
    background-color: #09814a;
    top: 0;
    color: white;
    z-index: 5;
}

.header-container {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    letter-spacing: 0.2rem;
}

header li {
    display: inline-block;
    margin-left: 1.5rem;
}

a {
    cursor: pointer;
}

/* MAIN */

main {
    width: 100%;
}

/* MISSION */

.mission {
    margin-top: 7.5%;
    height: 30rem;
    width: 100%;
    background-image: url(../images/roxanne-boudrot-5PujaUzindM-unsplash.jpg);
    background-size: cover;
    background-position: 50% 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-text {
    background-color: #af9bb6e7;
    padding: 3rem 5rem;
    text-align: center;
    color: white;
    border-radius: 0.7rem;
}

.mission-text h1 {
    font-size: 300%;
}

.mission-text h3 {
    font-size: 150%;
    opacity: 0.9;
}


/* PRODUCTS */

.products {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.products h2 {
    padding: 3rem;
    font-size: 1.7rem;
}

.products-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.products img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 0.7rem;
    object-fit: cover;
}

.container {
    width: 200px;
    height: 500px;
}

.container h4 {
    font-size: 1.4rem;
}





footer {
    width: 100%;
}